<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div id="app">
        <nav></nav>
        <div id="background"></div>
        <div id="main" tabindex="0">
            <div class="vertical-container">
                <div id="upper-stage" class="stage">
                    <canvas id="holdTextCanvas" class="textCanvas" width="100" height="40"></canvas>
                    <canvas id="scoreTextCanvas" class="textCanvas" width="251" height="40"></canvas>
                    <canvas id="queueTextCanvas" class="textCanvas" width="100" height="40"></canvas>
                </div>
                <div class="horizontal-container">
                    <div id="lstage" class="stage">
                        <!-- <canvas id="holdText" width="100" height="40"></canvas> -->
                        <canvas id="holdCanvas" width="100" height="76"></canvas>
                    </div>
                    <div id="middlestage">
                        <div id="stage" class="stage">
                            <!-- <canvas id="gameScore" width="251" height="40"></canvas> -->
                            <canvas id="bgCanvas" width="251" height="501"></canvas>
                            <canvas id="gameCanvas" width="251" height="501"></canvas>
                        </div>

                    </div>

                    <div id="rstage" class="stage">
                        <!-- <canvas id="queueText" width="100" height="40"></canvas> -->
                        <canvas id="queueCanvas" width="100" height="375"></canvas>
                    </div>

                </div>
                <div id="bottom-stage" class="stage">
                    <div id="buttonsBox">
                        <button id="settings">Settings</button>
                        <button id="restart">Restart</button>
                    </div>
                    <div id="gameStats">

                    </div>
                </div>
            </div>



        </div>
    </div>

    <script type="module" src="../static/js/tetris.js"></script>
</body>

</html>