<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="preload" href="static/fonts/Montserrat-Medium.ttf" as="font" type="font/ttf" crossorigin="anonymous"> -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/nicolaspanel/numjs@0.15.1/dist/numjs.min.js"></script>
</head>

<body>
    <div id="app">
        <nav></nav>
        <div id="background"></div>
        <div id="main" class="game-container">
            <canvas id="tetris-canvas" class="game-canvas" tabindex='0'></canvas>
            <!-- <canvas id="game2" class="game-canvas" tabindex='0'></canvas> -->
            <!-- <canvas id="game3" class="game-canvas" tabindex='0'></canvas> -->

        </div>
        <!-- <script>
            const font = new FontFace('Montserrat-Medium', 'url(static/fonts/Montserrat-Medium.ttf)');
            font.load().then(function(loadedFont){
                document.fonts.add(loadedFont);
            });
        </script> -->
        <script type="module" src="../static/js/Tester.js"></script>
    </div>
</body>

</html>